/*setting up the variables, colors, fonts*/
:root {
  /* COLORS */
  --clr-primary: #6962ff;
  --clr-bg-grayblue: #1b2239;
  --clr-bg-darkblue: #13192f;
  --clr-bg-lightblue: #27325e;
  /* #27325e :this color also used in the last section for the button-text "Create my bucket list"*/
  --clr-text-primary: #fff;
  --clr-text-feature-blue: var(--clr-primary);
  --clr-text-feature-green: #00be90;
  --clr-text-feature-purple: #7c57f5;
  --clr-text-feature-red: #ed5b7b;

  /* FONTS */
  /* font family */
  --ff-primary: "Inter", sans-serif;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-bg-darkblue);
  position: relative;
  height: 200vh;
  /* overflow: hidden; */
}

header {
  background-color: var(--clr-bg-grayblue);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  padding: 1rem 1.5rem;
  margin-inline: auto;
  align-items: center;
  position: relative;
}

header .navbar .navbar__links {
  display: flex;
  list-style: none;
}
.navbar .navbar__links a {
  margin-inline: 1.1rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
}

header .navbar .navbar__btn-download {
  background-color: var(--clr-primary);
  color: white;
  padding: 10px;
  border-radius: 999px;
  border: solid 2px #0d6efd;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}
header .navbar .navbar__btn-download:hover {
  background-color: #7a73fd;
  border-color: var(--clr-primary);
}

header .navbar .navbar__menu {
  width: 3rem;
  height: 3rem;
  background-color: #13192f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  display: none;
  position: relative;
}

header .navbar .navbar__menu img {
  display: none;
  width: 50%;
  transition: 0.3s;
  transform: rotate(180deg);
}

header .navbar .navbar__dropdown-menu--small-screen {
  position: absolute;
  top: 4rem;
  right: -1.5rem;
  background-color: #202944;
  list-style: none;
  transition: 0.3s;
  z-index: 1;
}

.navbar .navbar__dropdown-menu--small-screen li {
  transition: 0.3s;
}

.navbar .navbar__dropdown-menu--small-screen a {
  display: block;
  padding: 1.3rem;
  padding-right: 9rem;
  text-decoration: none;
  color: white;
}

.navbar .navbar__dropdown-menu--small-screen li:hover {
  background-color: #2a3658;
}

.navbar__dropdown-menu--small-screen::before {
  position: absolute;
  content: "";
  top: -2rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: transparent;
}

.navbar .navbar__dropdown-menu--small-screen a:not(:nth-child(4)) {
  border-bottom: solid 1px var(--clr-bg-lightblue);
}

header .navbar .navbar__menu:hover img {
  transform: rotate(90deg);
}

header .navbar .navbar__menu:hover .navbar__dropdown-menu--small-screen {
  /*here for dropping down the menu*/
  display: block;
}

header .navbar .navbar__dropdown-menu--small-screen:hover {
  /*here for keep hovering over the menu and not lose it*/
  display: block;
}

@media screen and (max-width: 600px) {
  header .navbar .navbar__links {
    display: none;
  }
  header .navbar .navbar__menu,
  header .navbar .navbar__menu img {
    display: flex;
  }
  header .navbar .navbar__menu img {
    width: 35%;
  }
  header .navbar .navbar__dropdown-menu--small-screen {
    display: none;
  }
}
/* header styling end */
/* landing section styling start */
.landing-section {
  /* min-height: 100vh; */
  position: relative;
  overflow: hidden;
}
.landing-section .landing-section__world-map {
  position: absolute;
  /* when i used the percentages instead of rem/em it stays the image in the middle all the time */
  top: 52%;
  left: 50%;
  transform: translate(-50%, -99%);
  width: 1100px;
}
.landing-section__information {
  color: white;
  padding: 4rem;
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.landing-section__information .landing-section__intro-text {
  border: solid 1px #27325e;
  width: fit-content;
  margin-inline: auto;
  padding: 8px 20px;
  border-radius: 999px;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.landing-section__information .landing-section__header-text {
  font-size: 2.5rem;
}
.landing-section__information .landing-section__header-text span {
  background-color: #ffffff33;
}
.landing-section__information .landing-section__description {
  padding: 2rem 0;
  font-weight: 400;
  font-size: 0.8rem;
}
.landing-section__information .landing-section__create-list-button {
  color: white;
  padding: 20px 40px;
  background-color: var(--clr-primary);
  border-radius: 99px;
  border: none;
  font-weight: 600;
}

.landing-section__landing-image {
  position: relative;
  height: 25.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-inline: 20px;
  border-radius: 2rem;
}
.landing-section__landing-image img {
  position: absolute;
  width: 60rem;
}

.landing-section__landing-image img:first-child {
  z-index: 1;
  bottom: 0;
}
.landing-section__landing-image img:last-child {
  border-radius: 1rem;
  height: 20rem;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  .landing-section__landing-image img:first-child {
    width: 45rem;
  }
  .landing-section__landing-image img:last-child {
    height: 10rem;
  }
  .landing-section__landing-image {
    height: 19rem;
  }
}
/* styling the wings */
.landing-section .landing-section__achievements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.landing-section__achievements .achivement {
  position: relative;
}
.landing-section__achievements .achivement .achivement__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
  line-height: 1.7;
}
.achivement .achivement__info p:first-child {
  font-weight: 700;
}
.achivement .achivement__info p:last-child {
  font-weight: 600;
  opacity: 80%;
  font-size: 13px;
}
/* landing section styling end */
